{% extends 'issuango/base.html' %}
{% load staticfiles %}


{% block styles %}
    <link rel='stylesheet' type='text/css' href='{% static "issuango/css/styles.css" %}' />
    <link rel='stylesheet' type='text/css' href='{% static "issuango/css/sticky-footer.css" %}' />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href='{% static "bootstrap-3.3.6/css/bootstrap.min.css" %}' />
    <link rel="stylesheet" href='{% static "bootstrap-3.3.6/css/bootstrap-theme.min.css" %}' />

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <!-- Twitter Bootstrap -->
    <!-- Latest compiled and minified JavaScript -->
    <script src='{% static "bootstrap-3.3.6/js/bootstrap.min.js" %}'></script>
{% endblock %}


{% block layout %}

    {# Top-horizontal bar with account, notifictions, dashboard links #}
    {% include 'issuango/fragments/nav_primary.html' %}

    {# Main section #}
    {% include 'issuango/fragments/content.html' %}

    {# Bottom-horizontal bar with informations #}
    {% include 'issuango/fragments/footer.html' %}
{% endblock %}